
.navbar {
    z-index: 100;
}

.container {
    z-index: 99;
}

.navbar-text {
    /* MEMPELAI */
    font-family: 'Advent Pro', sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #1F1F1F;
}

@media (max-width: 992px) {
    .navbar-link {
        text-align: left !important;
    }
}

.navbar-toggler .navbar-toggler-icon-close {
    display: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon-close {
    display: inline-block;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    display: none;
}

.navbar-toggler {
    background-color: white;
    border: none;
}


.navbar-logo {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 20px 10px 10px; */
    gap: 10px;

    width: 58px;
    height: 88px;
    left: 5%;
    top: -100px;
    background: #000000;
    margin-top: -10px
}

.navbar-logo-text {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
}

@media (max-width: 767px) {
    .navbar-logo {
        left: 30px;
        top: 0px;
        width: 40px;
        height: 60px;
        padding: 10px;
    }

    .navbar-logo-text {
        font-size: 32px;
        line-height: 38px;
    }
}

/* .img-hero {
    position: absolute;
    width: calc(100% - 20%);
    left: 25%;
    z-index: -1;
    border-radius: 100px 0 0 0;
}

@media (max-width: 767px) {
    .img-hero {
        position: relative;
        width: 100%;
        height: auto;
        left: 0;
        border-radius: 0;
    }

    .text-header,
    .text-sub-header,
    .text-sub-header-2 {
        transform: none;
    }
} */

/* .text-header {
    margin-top: 50px;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 300;
    font-size: 120px;
    line-height: 144px;
    text-transform: uppercase;
    color: #000000;
    transform: rotate(-90deg);
} */


.img-hero {
    position: absolute;
    background-size: cover;
    background-position: center;
    border-radius: 100px 0px 0px 0px;
}

.text-header {
    /* position: absolute; */
    height: auto;
    font-family: 'Advent Pro';
    font-style: normal;
    text-transform: uppercase;
    color: #000000;
}

.text-sub-header {
    /* position: absolute; */
    height: auto;
    font-family: 'Advent Pro';
    font-style: normal;
    text-transform: uppercase;
    color: #000000;
}

.text-sub-header-2 {
    position: absolute;
    height: auto;
    font-family: 'Advent Pro', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    color: #000000;
}


.card-buka-undangan {
    border-radius: 0px 100px 0px 0px;
    background: black;
    padding: 20px
}

.text-thin-undangan {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.text-bold-undangan {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button-buka-undangan {
    background: black;
    color: white;
    margin-right: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 0px 20px 0px 0px;
    padding: 16px 24px;
    gap: 10px;
}

.text-buka-undangan {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
}


@media (min-width: 992px) {
    .img-hero {
        width: calc(100vw - 20%);
        height: auto;
        left: 20%;
        top: 20%;
    }

    .text-header {
        position: absolute;

        left: -120px;
        top: 400px;
        font-weight: 300;
        font-size: 115px;
        line-height: 90px;
        transform: rotate(-90deg);
    }

    .text-sub-header {
        position: absolute;

        left: 10px;
        top: 490px;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.3em;
        transform: rotate(-90deg);
    }

    .text-sub-header-2 {

        left: 110px;
        top: 560px;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.1em;
        transform: rotate(-90deg);
    }

    .card-body-undangan {
        display: flex;
        justify-content: space-between;
    }


}

@media (min-width: 768px) and (max-width: 992px) {
    .img-hero {
        width: calc(100vw - 25%);
        height: auto;
        left: 25%;
        top: 20%;
    }

    .text-header {
        position: absolute;

        left: -120px;
        top: 350px;
        font-weight: 300;
        font-size: 100px;
        line-height: 90px;
        transform: rotate(-90deg);
    }

    .text-sub-header {
        position: absolute;

        left: -35px;
        top: 410px;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.3em;
        transform: rotate(-90deg);
    }

    .text-sub-header-2 {
        left: 60px;
        top: 485px;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.1em;
        transform: rotate(-90deg);
    }


}

@media (min-width: 576px) and (max-width: 768px) {
    .img-hero {
        width: calc(100vw - 20%);
        height: auto;
        left: 20%;
        top: 20%;
    }

    .text-header {
        position: absolute;

        left: -120px;
        top: 270px;
        font-weight: 300;
        font-size: 80px;
        line-height: 90px;
        transform: rotate(-90deg);
    }

    .text-sub-header {
        position: absolute;

        left: -75px;
        top: 295px;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.3em;
        transform: rotate(-90deg);
    }

    .text-sub-header-2 {
        left: 20px;
        top: 370px;
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.1em;
        transform: rotate(-90deg);
    }

    .button-buka-undangan {
        margin-top: 10px;
    }
}

@media (max-width: 576px) {

    .img-hero {
        width: calc(100vw - 10%);
        left: 10%;
        margin-top: 40px;
    }

    .text-header {
        position: relative;
        font-weight: 300;
        font-size: 80px;
        line-height: 90px;
    }

    .text-sub-header {
        position: relative;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.3em;
    }

    .text-sub-header-2 {
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.1em;
    }

    .button-buka-undangan {
        margin-top: 10px;
    }

}
